PORT=8080
AWS_REGION="<YOUR-AWS-REGION>"
QUEUE_URL="<YOUR-AWS-QUEUE-URL>"
AWS_ACCESS_KEY="<YOUR-AWS-ACCESS-KEY>"
RESEND_API_KEY="<YOUR-RESEND-API-KEY>"
BETTER_AUTH_URL="<YOUR-BETTER-AUTH-URL>"
RESEND_FROM_ADDRESS="<RESEND_FROM_ADDRESS>"
BETTER_AUTH_SECRET="<YOUR-BETTER-AUTH-SECRET>"
AWS_SECRET_ACCESS_KEY="<YOUR-AWS-SECRET-ACCESS-KEY>"
DATABASE_URL="postgresql://rshdhere:local_password@localhost:5432/transcoding_db"
